<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings> 
    <add key="Debug" value="true"/> 
     
    <add key="ProxyURL" value="http://127.0.0.1"/>
    <add key="ProxyByPassOnLocal" value="true"/>
    
    <add key="DEV_genevaPort" value="4000"/>
    <add key="DEV_genevaTimeOut" value="900000"/>
    <add key="DEV_genevaHostName" value="dubbtvm01"/>
    <add key="DEV_genevaUrl" value="http://dubbtvm01.ds.local:4640"/>
    <add key="DEV_genevaFlags" value="-f empty.lst"/>
    <add key="DEV_XMLloaderFlags" value="-x -bvc -iu"/>
    <add key="DEV_loaderFlags" value="-bvc -iu"/>
     
    <!--<add key="GenevaSOAP.Service" value="http://dubbtvm01.ds.local:4640/"/>-->

    <add key="UAT_genevaPort" value="6000"/>
    <add key="UAT_genevaTimeOut" value="900000"/>
    <add key="UAT_genevaHostName" value="dubbtvm20"/>
    <add key="UAT_genevaUrl" value="http://dubbtvm20.ds.local:4640"/>
    <add key="UAT_genevaFlags" value="-f empty.lst"/>
    <add key="UAT_XMLloaderFlags" value="-x -bvc -iu"/>
    <add key="UAT_loaderFlags" value="-bvc -iu"/>

    <add key="GenevaSOAP.Service" value="http://dubbtvm20.ds.local:4640/"/>

    <add key="0038WebPortalAmortizationLedger10Extract" value="false"/>
    <add key="0039WebPortalDividendLedger10Extract" value="false"/>
    <add key="0040WebPortalInterestLedger10Extract" value="false"/>
    <add key="0041WebPortalPositions15Extract" value="false"/>
    <add key="0042WebPortalTaxLot10Extract" value="false"/>
    <add key="0043WebPortalTaxLot35Extract" value="false"/>
    <add key="0044WebPortalTB50Extract" value="false"/>
    <add key="0045WebPortalTB55Extract" value="false"/>
    <add key="0046WebPortalTransListing10Extract" value="false"/>
    <add key="0047WebPortalUnsettTrans30Extract" value="false"/>
    <add key="0048WebPortalPositions10Extract" value="false"/>
    <add key="0051WebPortalFXTransactionsandRepos" value="false"/>
    <add key="0052WebPortalShareSplitNAVHistExtract" value="false"/>
    <add key="0053WebPortalShareSplitTRXCUR" value="false"/>
    
    
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--<authentication mode="None" />
    <authorization>
      <allow users="?" />
    </authorization>-->
    
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <client/>
    <bindings>
      <wsHttpBinding>
        <binding name="GenevaDALWCFEndPoint" closeTimeout="00:20:00"
                    openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                    maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600">
          <readerQuotas maxStringContentLength="6553600" maxArrayLength="6553600" />
          <reliableSession inactivityTimeout="00:20:00" />
          <security mode="None" />
        </binding>
     
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="GenevaDAL">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="GenevaDALWCFEndPoint"
          name="GenevaDALWCFEndPoint" contract="IGenevaDAL"   >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing"  >
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "c:\temp\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>